<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property='description' content='{{summary}}'>
    <title>{{title}} - devonnuri.wiki</title>
    <link rel="stylesheet" href="/font.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="container">
        <div id="logo">
            <a href="/{{language}}/">
                <img src="/logo.svg" alt="devonnuri" width="284" height="75">
            </a>
        </div>

        <div>
            <input type="text" class="search-input" placeholder="{{!where_do_you_want_to_wander}}">
        </div>
        
        <div class="content">
            <div class="header">
                <h1>{{title}}</h1>
                <h2>{{subtitle}}</h2>
            </div>

            <div class="details">
                <p>{{!created_at}} : {{created_at}}, {{!updated_at}} : {{updated_at}}</p>
                <p>{{!category}} : {{category}}</p>
                <p>
                    <a href="#">{{!language}}</a>
                    <a href="https://github.com/devonnuri/devonnuri.github.io/edit/main/{{onm_path}}" target="_blank">{{!edit}}</a>
                    <a href="https://github.com/devonnuri/devonnuri.github.io/commits/main/{{onm_path}}" target="_blank">{{!history}}</a>
                </p>
            </div>

            <div class="body-content">
                {{content}}
            </div>

            <div class="giscus"></div>
        </div>
    </div>
    {{mathjax_script}}
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$']],
                displayMath: [['$$', '$$']],
            },
        };
    </script>
    <script src="https://giscus.app/client.js"
        data-repo="devonnuri/devonnuri.github.io"
        data-repo-id="R_kgDOJ0_Ryg"
        data-category="Announcements"
        data-category-id="DIC_kwDOJ0_Rys4CXnGN"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="ko"
        crossorigin="anonymous"
        async>
    </script>
</body>
</html>