@import 'fonts.css';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

header {
  background: linear-gradient(120deg, #0652dd 0%, #1b1464 100%);
  min-height: 100vh;
  overflow-x: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  min-height: 100vh;
}

#logo {
  width: 50rem;
  fill: white;
}

#logo .cls-2 {
  isolation: isolate;
}

#logo .cls-3 {
  fill-rule: evenodd;
}

#logo #devonnuri path {
  opacity: 0;
}

#logo #Eye_1 {
  transform: translateY(100px);
}

#logo #Eye_2 {
  transform: translateY(100px);
}

#logo #Brush {
  transform: translateY(-100px);
}

.project-info {
  max-height: 100vh;
  padding: 5rem 25rem;

  background-color: #eee;
  font-family: 'Roboto Mono', monospace;
}

.project-info h2 {
  font-size: 3em;
}

.project-info ul {
  padding-top: 4rem;

  font-size: 1.5em;

  list-style: none;
}

.project-info li {
  padding: 0.5rem 0;
}

.project-info li::before {
  content: '> ';
  color: #555;
}

.brief-info {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.brief-info .header {
  display: inline-block;
  text-align: left;
  font-size: 3em;
  padding-top: 15vh;
  font-family: 'Pier Sans', sans-serif;
  font-weight: 900;
}

.brief-info .header h1 div {
  display: inline;
  color: #2ecc71;
  background-image: linear-gradient(120deg, #2af598 0%, #009efd 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.brief-info .description {
  display: inline-block;
  margin-top: 4rem;
  text-align: left;
  font-family: 'Noto Sans Korean';
  font-size: 2em;
}

.brief-info .buttons {
  margin-top: 7vh;
}

.brief-info .buttons .button {
  padding: 1rem 5rem;
  outline: none;
  border: none;
  border-radius: 50px;

  color: white;
  font-size: 1.5em;
  font-family: 'Roboto';
  text-decoration: none;
}

.brief-info .buttons .button#resume {
  background-color: #0652dd;
  box-shadow: 1px 1px 7px 3px #bbbbbb;
}

@media screen and (max-width: 1200px) {
  .project-info {
    padding: 5rem 10rem;
  }
}

@media screen and (max-width: 700px) {
  #logo {
    margin: 5rem 0;
    width: 80vw;
  }

  .project-info {
    padding: 5rem 5rem;
  }

  .brief-info .header {
    font-size: 7vw;
  }

  .brief-info .description {
    font-size: 6vw;
  }
}
