@import 'fonts.css';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

header {
  background: linear-gradient(120deg, #0652dd 0%, #1b1464 100%);
  min-height: 100vh;
  overflow-x: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  min-height: 100vh;
}

#logo {
  width: 50rem;
  fill: white;
}

#logo .cls-2 {
  isolation: isolate;
}

#logo .cls-3 {
  fill-rule: evenodd;
}

#logo #devonnuri path {
  opacity: 0;
}

#logo #Eye_1 {
  transform: translateY(100px);
}

#logo #Eye_2 {
  transform: translateY(100px);
}

#logo #Brush {
  transform: translateY(-100px);
}

.brief-info {
  max-height: 100vh;
  padding: 0;

  background: url('../images/cup-of-coffee.jpg') fixed;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

  color: white;
  font-family: 'Roboto';
  text-align: center;
}

.brief-info h1 {
  padding-top: 5rem;
  font-size: 8em;
  font-family: 'Pier Sans';
}

.brief-info .timeline {
  padding-top: 7rem;
  height: 100vh;
  display: flex;

  flex-direction: row;
}

.brief-info .timeline .timeline-item {
  width: 20rem;
  background: rgba(255, 255, 255, 0.3);
}

.brief-info .timeline .timeline-item h3 {
  font-size: 1.7em;
  padding: 1rem 0;
}

.contact {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.contact .header {
  display: inline-block;
  text-align: left;
  font-size: 3em;
  padding-top: 15vh;
  font-family: 'Pier Sans', sans-serif;
  font-weight: 900;
}

.contact .header h1 span {
  display: inline;
  color: #2ecc71;
  background-image: linear-gradient(120deg, #2af598 0%, #009efd 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.contact .description {
  display: inline-block;
  margin-top: 4rem;
  text-align: left;
  font-family: 'Noto Sans Korean';
  font-size: 2em;
}

.contact .buttons {
  margin-top: 7vh;
}

.contact .buttons .button {
  padding: 1rem 5rem;
  outline: none;
  border: none;
  border-radius: 50px;

  color: white;
  font-size: 1.5em;
  font-family: 'Roboto';
  text-decoration: none;
}

.contact .buttons .button#resume {
  background-color: #0652dd;
  box-shadow: 1px 1px 7px 3px #bbbbbb;
}

@media screen and (max-width: 1200px) {
  .brief-info {
    padding: 5rem 10rem;
  }
}

@media screen and (max-width: 700px) {
  #logo {
    margin: 5rem 0;
    width: 80vw;
  }

  .brief-info {
    padding: 5rem 5rem;
  }

  .contact .header {
    font-size: 7vw;
  }

  .contact .description {
    font-size: 6vw;
  }
}
