@font-face {
    font-family: 'Tex Gyre Termes';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/texgyretermes-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Tex Gyre Termes';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/texgyretermes-italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Tex Gyre Termes';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/texgyretermes-bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Tex Gyre Termes';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/texgyretermes-bolditalic.woff2') format('woff2');
}
@font-face {
    font-family: 'KoPub';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/KoPubBatang-Light.woff) format('woff2');
}
@font-face {
    font-family: 'KoPub';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/KoPubBatang-Bold.woff) format('woff2');
}
@font-face {
    font-family: 'KoPub';
    font-style: italic;
    font-weight: 400;
    src: url(/fonts/KoPubDotum-Light.woff) format('woff2');
}
@font-face {
    font-family: 'KoPub';
    font-style: italic;
    font-weight: 700;
    src: url(/fonts/KoPubDotum-Bold.woff) format('woff2');
}
