body {
    margin: 0;
    padding: 0;

    font-family: 'Tex Gyre Termes', 'KoPub', serif;
}

input {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

#container {
    width: 48rem;
    margin: 0 auto;
    padding: 0 2rem;
    border: 1px solid black;
    min-height: 100vh;
}

@media screen and (max-width: 48rem) {
    body {
        padding: 0 0.5rem;
    }

    #container {
        width: 100%;
        border: none;
        padding: 0;
    }
}

#logo {
    width: 100%;
    text-align: center;
}

#logo img {
    width: 17.75rem;
    margin: 3rem 0 0 0;
}

.search-input {
    width: 100%;
    font-size: 1.375em;
    font-family: 'Tex Gyre Termes', 'KoPub', serif;
    font-style: italic;
    padding: 0.2rem 0 0.2rem 0.5rem;
    outline: none;
    border: 1px solid black;
    border-radius: 4px;

    margin: 2rem 0;
}

.search-input::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}
  
.search-input::selection {
    color: white;
    background: black;
}

.content {
    line-height: 1.5;
    letter-spacing: -0.03em;
}

.content .footnotes {
    border-top: 1px solid black;
}

.content p {
    margin: 0.8rem 0;
    text-indent: 1em;
}

.content blockquote {
    padding: 0 0 0 1em;
    border-left: 0.2rem solid gray;
}

.content blockquote p,
.content .footnotes p,
.content ul p,
.content ol p {
    text-indent: 0;
    margin: 0;
}

.content a {
    color: #3366cc;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.content a:visited {
    color: #795cb2;
}

.content .header h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 1rem 0 0 0;
}

.content .header h2 {
    font-size: 1.5em;
    color: gray;
    font-weight: normal;
    margin: 0 0 1rem 0;
}

.content .details {
    text-align: right;
    color: gray;
}

.content .details p {
    margin: 0.3rem 0;
}

.content .details a {
    color: gray;
    text-decoration: underline;
}

.content .details a:visited {
    color: gray;
}

.content .body-content {
    counter-reset: h1counter;
    text-align: justify;
    hyphens: auto;
}

.content .body-content h1 {
    counter-reset: h2counter;

    font-size: 1.7em;
    font-weight: bold;
    margin: 0.7rem 0;
}

.content .body-content h1:before {
    content: counter(h1counter) ". ";
    counter-increment: h1counter;
}

.content .body-content h1.nocount:before {
    content: none;
    counter-increment: none;
}

.content .body-content h2 {
    counter-reset: h3counter;

    font-size: 1.4em;
    font-weight: bold;
    margin: 0.7rem 0;
}

.content .body-content h2:before {
    content: counter(h1counter) "." counter(h2counter) ". ";
    counter-increment: h2counter;
}

.content .body-content h2.nocount:before {
    content: none;
    counter-increment: none;
}

.content .theorem .theorem-header {
    border: 2px solid #0092C8;
    display: inline-block;
    position: relative;
    top: 1rem;
    left: 1rem;
}

.content .theorem .theorem-header .theorem-title {
    display: inline-block;

    background-color: #0092C8;
    color: white;
    padding: 0.1rem 0.4rem;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

.content .theorem .theorem-header .theorem-subtitle {
    display: inline-block;

    background-color: white;
    color: black;
    padding: 0.1rem 0.4rem;
    font-size: 1em;
    margin: 0;
}

.content .theorem .theorem-body {
    border: 2px solid #0092C8;
    padding: 1.25rem 0.5rem 0.5rem 0.5rem;
}